RK_BUILDROOT_BASE_CFG="rk3308_b_release"
RK_WIFIBT_CHIP="AP6212A1"
RK_UBOOT_INI="RK3308MINIALL_UART0.ini"
RK_KERNEL_DTS_NAME="rk3308-rock-s0"
RK_ROOTFS_TYPE="ext4"
RK_EXTRA_PARTITION_1_FSTYPE="ext4"
RK_EXTRA_PARTITION_2_FSTYPE="ext4"
RK_PARAMETER="parameter-64bit.txt"
